#base-background {
    background: linear-gradient(45deg, rgb(25, 65, 110), rgb(64, 125, 194), rgb(208, 224, 242));
  }
  
  main {
    font-family: Helvetica, sans-serif;
    color: #092962;
    font-size: 15px;
    text-align: center;
    background: #FFF;
    padding: 0px 20px 20px 20px;
    margin-left: 25%;
    margin-right: 25%;
  }

  h1 {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 15px;
  }

  p {
    padding: 10px;
  }
  
  img {
    max-width: 98%;
    display: block;
    margin: auto;
    border: 4px;
    border-style: solid;
    border-color: #092962;
    border-radius: 4px;
  }

  footer {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    color: #FFF;
    padding: 5px;
  }
  
  .img-div {
    background: rgb(220, 220, 220);
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border: 4px;
    border-radius: 4px;
  }

  #top {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #FFF;
    background-color: #092962;
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 77.25%;
    max-width: 75px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  